@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    width: inherit;
    height: inherit;
  }

  .react-stars {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rating-container {
    display: flex;
    align-items: center;
}
