@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    width: inherit;
    height: inherit;
  }

  /* .react-stars {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rating-container {
    display: flex;
    align-items: center;
} */
/* button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
} */
.on {
  color: #f59e0b;
}
.off {
  color: #ffedd5;
}

